@charset "utf-8";
/*CSS Document*/

#mainPage
{
    background-color: #f7f7f7;
    width: 980px;
    height: 7000px;
}
#mainHeader
{
    left and padding-right: 20px;
    top and padding-bottom: 20px;
    left and margin-right:20px;
    top and margin-bottom: 75px;
    width: 980px;
    height: 55px;
    display: flex;
}

#subNav
{
    left and margin-right: 20px; 
    top and margin-bottom: 10px;
    left and padding-right: 20px;
    width: 290px;
    height: 40px;
    background-color: #e142c1;

}

#icon
{
    left and margin-right: 20px; 
    top and margin-bottom: 610px;
    left and padding-right: 20px;
    width: 50px;
    height: 40px;
    background-color: #e142c1;
}

#logo
{
    left and margin-right: 20px; 
    top and margin-bottom: 720px;
    width: 250px;
    height: 100px;
    background-color: #f6ec9b;
    display: flex;
}


#mainContent
{
    left and padding-right: 20px;
    top and padding-bottom: 20px;
    left and margin-right:20px;
    top and margin-bottom: 75px;
    width: 980px;
    height: 55px;
    display: flex;
    flex-direction: row;
}

#mainNav
{
    left and margin-right: 75px;
    top and margin-bottom: 10px;
    width: 650px;
    height: 45px;
    background-color: #67aa47;
}

#miniImage
{
    left and margin-right: 150px;
    top and margin-bottom: 10px;
    width: 200px;
    height: 200px;
    background-color: #090d42;
}

#socialMedia1
{
    left and margin-right: 380px;
    top and margin-bottom: 10px;
    width: 80px;
    height: 70px;
    background-color: #e0b1cf;
}

#socialMedia2
{
    left and margin-right: 380px;
    top and margin-bottom: 130px;
    width: 80px;
    height: 70px;
    background-color: #e0b1cf;
}

#mainImage
{
    left and margin-right: 150px;
    top and margin-bottom: 270px;
    width: 700px;
    height: 300px;
    background-color: #3a0228;
}

#wideImage
{
    left and margin-right: 480px;
    top and margin-bottom: 10px;
    width: 960px;
    height: 210px;
    background-color: #97cfaf;
}

#promoImage
{
    left and margin-right: 710px;
    top and margin-bottom: 10px;
    width: 600px;
    height: 400px;
    background-color: #0a852d;
}

#promoText
{
    left and margin-right: 710px;
    top and margin-bottom: 670px;
    width: 300px;
    height: 400px;
    background-color: #090d42;
}

#mainFooter
{
    left and margin-right: 1155px;
    top and margin-bottom: -6px;
    width: 1009px;
    height: 45px;
    background-color: #fe7f22;
}
